{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "plugins": ["meteor", "react", "import"],
  "globals": {
    "React": true
  },
  "env": { "es2021": true, "browser": true, "node": true, "jest": true, "meteor": true },
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": { "node": { "extensions": [".js", ".jsx"] } }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "no-console": 1,
    "indent": [2, 2],
    "semi" : [2, "never"],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "brace-style" : [2, "stroustrup", { "allowSingleLine": true }],
    "keyword-spacing": [2, { "before": true ,  "after": true }],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-before-blocks": [2, "always"],
    "no-useless-escape" : 0,

    "object-curly-spacing": [2, "always"],
    "no-underscore-dangle": 0,
    "curly": [2, "multi-line"],
    "no-use-before-define": [2, "nofunc"],

    "no-var": 2,
    "object-shorthand": [2, "always"],
    "prefer-const": 2,
    "arrow-body-style": [2, "as-needed"],
    "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 2}],

    "jsx-quotes": 1,
    "react/prefer-es6-class": 2,
    "react/jsx-max-props-per-line": 1,
    "react/display-name": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 0,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/prop-types": [1, { "ignore": ["ui", "updateUI"] }],
    "react/no-unknown-property": 2,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 2,

    "meteor/eventmap-params": [
      2,
      {
        "eventParamName": "event",
        "templateInstanceParamName": "instance"
      }
    ],
    "meteor/template-names": [
      0
    ],
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^meteor/",
          "^/imports/"
        ]
      }
    ]
  }
}
