/* TitleBox scoped tweaks */
.titlebox-root .MuiCard-root {
	background: rgba(69,90,100,0.95);
}

.titlebox-root .titlebox-datas-btn {
	background-color: #aa8dc6 !important;
	color: #222 !important;
}
